<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OCS" connectionString="Server=localhost;Database=ocs;User Id=arnel;Password=myS3cureP@ssw0rd;Trusted_Connection=true;Integrated Security=False;TrustServerCertificate=True;Connect Timeout=120;"/>
		<add name="EAMS" connectionString="Server=localhost;Database=eams;User Id=arnel;Password=myS3cureP@ssw0rd;Trusted_Connection=true;Integrated Security=False;TrustServerCertificate=True;Connect Timeout=120;"/>
		<add name="COMMON_DB" connectionString="Server=localhost;Database=common_db;User Id=arnel;Password=myS3cureP@ssw0rd;Trusted_Connection=true;Integrated Security=False;TrustServerCertificate=True;Connect Timeout=120;"/>
	</connectionStrings>
	<appSettings>
		<add key="EmailSender" value="senderemail@gmail.com"/>
		<add key="BUHREmail" value="buhremail@gmail.com"/>
		<add key="CentralHREmail" value="centralhremail@gmail.com"/>
		<add key="PAEMPBEIHExternalEmail" value="externalemail@gmail.com"/>
		<add key="IHPAEMPBENDayInterval" value="1"/>
		<add key="R7MaxReminderDay" value="3"/>
		<add key="MaxFormReminderDay" value="5"/>
		<!--PRD-->
		<!--<add key="EMPBENRoleId" value="108" />
		<add key="ASPENPARoleId" value="117"/>
		<add key="PAEPRoleId" value="1001"/>
		<add key="PANONEPRoleId" value="1002"/>-->
		<!--QAS-->
		<add key="EMPBENRoleId" value="39" />
		<add key="ASPENPARoleId" value="37"/>
		<add key="PAEPRoleId" value="1134"/>
		<add key="PANONEPRoleId" value="1136"/>
		<!--DEV-->
		<!--<add key="EMPBENRoleId" value="108" />
		<add key="ASPENPARoleId" value="117"/>
		<add key="PAEPRoleId" value="1001"/>
		<add key="PANONEPRoleId" value="1002"/>-->
	</appSettings>
</configuration>